.integrante-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .integrante-nombre {
    flex: 1;
    margin-right: 10px;
  }
  
  .integrante-eliminar {
    flex-shrink: 0;
  }

 .btn-secondary{
    background-color: #09DDCC!important;
    color: black;
    border: none;
}