/* General styles */
.container-grupo {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.container-group{
    margin: 30px;
}

.migrupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
}

.container-group .form-header {
    display: flex;
    justify-content: flex-end;
}

.container-grupo .container {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #828389;
}

.container h2 {
    text-align: center;
    color: #200976;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container-grupo {
        flex-direction: column;
    }

    .container-grupo .container {
        margin-bottom: 20px;
    }

    .submit-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    input,
    textarea {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }
}

.home-grupo{
    margin: 15px;
}