.content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title{
    text-align: center;
    color: rgb(24, 24, 154);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 450px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.toggle-button {
    flex: 1;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 0 0;
    transition: background-color 0.3s;
}

.toggle-button.active {
    background-color: #0056b3;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #004494;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }

    .toggle-button {
        margin: 0 2px;
    }

    .submit-button {
        padding: 10px;
    }
}