.evaluation-type {
    padding: 20px;
    background-color: #f5f9ff; /* Fondo claro */
  }
  
  .evaluation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: default;
    background-color: #f5f9ff;
  }
  
  .evaluation-header h2 {
    color: #222; /* Color del texto del encabezado */
    font-weight: bold;
  }
  
  .evaluation-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .evaluation-toggle-btn {
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    background-color: #e0e0e0; /* Color por defecto del botón */
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .evaluation-toggle-btn.active {
    background-color: #215f88; /* Botón activo */
    color: white;
  }
  
  .evaluation-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
  }

  .evaluation-item-link {
    text-decoration: none; 
    color: inherit;
}
  
  .evaluation-item {
    background-color: #f1f1f1; 
  padding: 2%;
  border-radius: 8px;
  width: calc(33.33% - 20px);
  height: 180px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
  
  .evaluation-item h4 {
    margin-bottom: 5px;
    color: #333;
  }
  
  .evaluation-item p {
    color: #666;
    font-size: 12px;
  }
  
  .evaluation-item:hover {
    background-color: #e0e0e0; /* Hover en las tarjetas */
  }
  
  .evaluation-item .arrow {
    font-size: 16px;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .evaluation-item:hover .arrow {
    transform: translateX(5px); /* Animación al pasar el mouse */
  }
  