/* Estilo para el botón de agregar evaluación */
.add-evaluation-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; /* Fondo azul */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .add-evaluation-btn:hover {
    background-color: #0056b3; /* Hover en botón */
  }
  
  .add-evaluation-icon {
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
  }



.evaluation-type {
    padding: 20px;
    background-color: #f5f9ff; /* Fondo claro */
  }
  
  .evaluation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .evaluation-header h2 {
    font-size: 24px;
    color: #333; /* Color del texto del encabezado */
  }
  
  .evaluation-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .evaluation-toggle-btn {
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    background-color: #e0e0e0; /* Color por defecto del botón */
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .evaluation-toggle-btn.active {
    background-color: #0056b3; /* Botón activo */
    color: white;
  }
  
  .evaluation-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .evaluation-item {
    background-color: #f1f1f1; /* Fondo de las tarjetas */
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .evaluation-item h4 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
  }
  
  .evaluation-item p {
    color: #666;
    font-size: 12px;
  }
  
  .evaluation-item:hover {
    background-color: #e0e0e0; /* Hover en las tarjetas */
  }
  
  .evaluation-item .arrow {
    font-size: 16px;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .evaluation-item:hover .arrow {
    transform: translateX(5px); /* Animación al pasar el mouse */
  }
  