/* App.css */
html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 45px;
  color: #222;
}h2 {  font-size: 36px;}h3 {  font-size: 28px;}h4 {  font-size: 22px;}h5 {  font-size: 18px;}
h6 {  font-size: 16px;}p {  font-size: 16px;}a{font-size: 16px;}

.content{
  margin: 40px 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}